article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@font-face{
	font-family: "elephant", serif;
	src: url('/assets/elephant.ttf');
}
$spaceMed: 1.5rem;
h1,h2,h3,h4,h5,h6{
	margin:0;
}
#app {
}
#wrapper{
	display:flex;
	padding:2rem 2rem;
	height:100vh;
}
#mainBlock{
	display:flex;
	flex-direction:column;
	position:relative;
	width:100%;
	padding:0 3.5rem 0 2rem ;
	border-right:1px solid #C4C4C4;
	height:100%;
	section{
		position:relative;
		flex-grow:1;
	}
}
#sideBlock{
	display:flex;
	flex-direction:column;
	width:430px;
	padding:0 2rem;
	height:100%;
	// background-color: #eee;
	form{
		display:flex;
		flex-direction:column;
		input{
			background-color: transparent;
			border:1px solid #424242;
			border-radius:4px;
			padding:0.5rem 1rem;
			outline:none;
			margin-bottom:1rem;
		}
	}
	nav{
		ul{
			display:flex;
			li{
				list-style: none;
				margin-right:2rem;
			}
		}
	}
	p{
		margin: auto;
		color:#c4c4c4;
	}
}
a, button{
	transition: all 0.2s ease;
}
button, input[type=submit]{
	height:2.5rem;
	min-width:2.5rem;
	border: 1px solid #424242;
	border-radius: 4px;
	outline:none;
	background-color: #E9E9E9;
	color: #424242;
	&:hover{
		border-color: lighten(grey, 10%);
		color:lighten(grey, 10%);
	}
}
.knowtHeader{
	text-decoration: none;
	color:#424242;
	font-family: 'elephant';
	font-size:2rem;
	vertical-align: bottom;
	text-decoration: none;
	color:#424242;
	&:hover{
		color: #898989;
	}
	h1{

	}
}
header{
	display:flex;
	justify-content: space-between;
	margin:0 0 1rem 0;
	align-items:center;

	button{
		height:2.5rem;
		min-width:2.5rem;
		border: 1px solid #424242;
		border-radius: 4px;
		outline:none;
		background-color: #E9E9E9;
		color: #424242;
		&:hover{
			border-color: lighten(grey, 10%);
			color:lighten(grey, 10%);
		}
	}
}
#newNote{
	position:absolute;
	top:0;
	bottom:2rem;
	width:100%;
	display:flex;
	flex-direction:column;
	padding:1rem;
	border:1px solid #424242;
	border-radius:4px;
	input{
		outline:none;
		color: #424242;
		padding:0.5rem 1rem 1rem 1rem;
		border:none;
		font-size:2rem;
		border-bottom:1px solid #c4c4c4;
	}
	textarea{
		resize: none;
		font-size:1.2rem;
		line-height:1.7;
		padding:0 1rem;
		border:none;
		outline:none;
		color:#898989;
		width:100%;
	}
	input[type=submit]{
		font-size:1.2rem;
		border:none;
		outline:none;
	}
}
#noteItem{
	border: 1px solid #424242;
	border-radius: 4px;
	box-shadow: 0 8px 8px rgba(0,0,0,.1);
	width:100%;
	padding:1rem;
}
#noteGrid{
	position:absolute;
	top:0;right:-2rem;left:0;
	display:flex;
	flex-wrap:wrap;
	align-items:left;
	height:100%;
	margin: -1rem 0 0 -1rem;
	padding-right:1rem;
	overflow-y:scroll;
	align-content:flex-start;
	h2{
		flex-basis:100%;
		width:100%;
		margin-bottom: 0.5rem;
	}
}
.noteGridItem--container{
	transition: all 0.2s ease;
	position:relative;
	padding: 1rem 0 0 1rem;
	display:block;
	flex-basis:25%;
	min-width:25%;

}
.noteActions{
	z-index:11;
	display:flex;
	flex-grow:1;
	justify-content: center;
	transition:all 0.3s ease;
	visibility:hidden;
	position:absolute;
	bottom:0;left:0;right: 0;
	opacity:0;
	font-size:1rem;
	font-weight:400;
	border:none;
	background:#E9E9E9;
	padding:0.5rem;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	button{
		margin-right:0.5rem;
		font-size:1rem;
		font-weight:400;
		border:none;
		background-color: transparent;
	}
}
.noteGridItem{
	cursor:pointer;
	transition: all 0.2s ease;
	position: relative;
	display:flex;
	flex-direction: column;
	padding:1rem;
	border:1px solid #424242;
	border-radius:4px;
	width: 100%;	
	height:230px;
	box-shadow:0px 4px 8px rgba(0,0,0,0.2);
	background:#fff;
	.contentWrapper{
		transition: all 0.2s ease;
		position: relative;
		display:flex;
		flex-direction: column;
	}
	h3{
		color: #424242;
		padding:0.5rem;
		border-bottom:1px solid #c4c4c4;
		word-wrap: break-word;
		min-height:2rem;
		overflow-y:hidden;
		vertical-align: bottom;
	}
	p{
		position:relative;
		width:100%;
		word-wrap: break-word;
		margin:0;
		padding:1rem 0.5rem 3rem 0.5rem;
		overflow-y:hidden;
	}
	&:hover , &:focus{
		transform: scale(1.05);
		.noteActions{
			visibility: visible;
			opacity:1;
		}
	}
}
.noteGridItem--container:last-child{
	padding-bottom:1rem;
}
.inputContainer{
	// position:relative;
	// height:500px;
	height:100%;
	margin-bottom:1rem;
	padding:1rem 0;
	border-bottom:1px solid #c4c4c4;
	.pOverlayWrite{
		height:100%;
		// pointer-events:none;
		// position:absolute;
		// top:0;
		// left:0;
		// right:0;
		// height:3rem;
		background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.3),rgba(255,255,255,0));
		textarea{
			height:100%;
		}
	}
}
.pOverlay{
	pointer-events:none;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:3rem;
	background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,1));
}
.gridOverlayBottom{
	pointer-events:none;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:3rem;
	background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,1));
}
.gridOverlayTop{
	pointer-events:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:2rem;
	background: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.7),rgba(255,255,255,0));
}
*::-webkit-scrollbar-track
{
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: .5rem;
	border-radius:500px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 100px;
	background-color: #c4c4c4;
	width:1rem;

}
.actionRemoveNote:hover {
	background:pink;
	i{
		color:red;
	}
}

.actionEditNote:hover {
	background:lightgreen;
	i{
		color:green;
	}
}
/* Portrait tablet and small desktops */
@media (max-width: 1360px) {
	.noteGridItem--container{
		flex-basis:33%;
		min-width:33%;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 1080px) {
	.noteGridItem--container{
		flex-basis:50%;
		min-width:50%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}